# The audience to use for the jwt we generate
#ASAP_JWT_AUD='jitsi'

# The issuer to use when generating jwt
#ASAP_JWT_ISS='jitsi-token-generator'

# The kid to use when generating a token (required)
ASAP_JWT_KID=

# The private key file that will be used for creating jwt tokens to connect to the selector component (required)
ASAP_SIGNING_KEY_FILE=

# The listening port
#PORT=8017

# The timeout for the http requests originating from the server
#REQUEST_TIMEOUT_MS=8000

# Number of retries for http requests originating from the server
#REQUEST_RETRY_COUNT=2

# The kid to location where public keys to be discovered  (required)
# (eg. "[{"kid": "kidPattern", baseUrl": "https://jaas-public-keys.jitsi.net/server/dev"}]")
SYSTEM_ASAP_BASE_URL_MAPPINGS=

# The accepted issuer in the asap token (required)
SYSTEM_ASAP_JWT_ACCEPTED_HOOK_ISS=

# The accepted audience in asap token (required)
SYSTEM_ASAP_JWT_AUD=
